<%= render 'layouts/customer.header' %>
 <div class="container">

  <h1>予約</h1>

  <%= render 'form', reservationc: @reservationc %>

  <%= link_to 'Back', customers_reservationcs_path %>
  <%= link_to 'next', customers_reservationcs_verification_path %>
</div>