<%= render 'layouts/customer.header' %>
<h1>New Reservationc</h1>

<%= render 'form', reservationc: @reservationc %>

<%= link_to 'Back', customers_courses_path %>
<%= link_to 'next', customers_reservationcs_verification_path %>
