<%= render 'layouts/customer.header' %>
<div class="container my-5">
 <div class="row">
  <h1 class="mx-auto">ご予約ありがとうございました！</h1>
   <div class="container my-5">
     <%=link_to "戻る", customers_courses_path %>
    </div>
  </div>
 </div>
