
<div class="container">
  <div class="row">
    <div class='col-12 text-center'>
  <h1>DMMホテルへようこそ!</h1>
<h4>DMMホテルは、お客様に癒しと安らぎの時間を与えるため、</h4>
<h4>様々なご宿泊プランをご⽤意しております。</h4>
<h4>また、当旅館自慢の露天風呂からは、絶景をご覧いただけます。</h4>
<h4>ぜひお越しください。</h4>

 